[user]
	email = andreuzzi.francesco@gmail.com
	name = Francesco Andreuzzi
[alias]
    # `git log` with patches shown with difftastic.
    dlog = -c diff.external=difft log -p --ext-diff

    # Show the most recent commit with difftastic.
    dshow = -c diff.external=difft show --ext-diff

    # `git diff` with difftastic.
    ddiff = -c diff.external=difft diff

    cb = branch --show-current
    cp = "!f() { git cherry-pick \"$(pclip)\"; }; f"
    h = "!f() { source $HOME/.bashrc && git rev-parse HEAD~\"${1:-0}\" | tr -d '\n'; }; f"
    recentb = "!f() { git reflog | grep 'checkout:' | awk '{print $8}' | awk '!a[$0]++{print}'; }; f"
    swrecentb = "!f() { git switch $(git recentb | sed -n \"${1:-1}p\"); }; f"
